<div *ngIf="! user" class="container d-flex mainalign align-items-center">
  <h1>Чтобы пользоваться редактором, нужна авторизация</h1>
  <div class="mx-3 p-0"><asl-google-signin-button type='icon' size='medium'></asl-google-signin-button></div>
</div>

<div *ngIf="user">
  <p class="mainalign">
    Редактор: <strong>{{ user.name }}</strong> / <strong>{{ user.email }}</strong>
  </p>
  <h1 id="tableLabel" class="mainalign">Список движений</h1>

  <p *ngIf="!moves?.length" class="mainalign"><em>Loading...</em></p>

  <div class="row contentcontainer mainalign">

    <div id="movesTable" *ngIf="moves.length" class="movesTable">

      <a href="/admin/move/new">Добавить</a>
      <br><br>

      <table class='table table-striped' aria-labelledby="tableLabel">
        <tbody>
          <tr *ngFor="let move of moves">
            <td>{{ move.id }}</td>
            <td><a href="/admin/move/{{ move.name }}">{{ move.name }}</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>