<h1 id="tableLabel" class="mainalign">Танцы по сложности</h1>

<p *ngIf="!dancelevels?.length"><em>Loading...</em></p>

<div class="contentcontainer mainalign" *ngIf="dancelevels.length">
  <div class="row d-flex justify-content-between">

    <div class="dancecard col-6 col-md-4" *ngFor="let dancelevel of dancelevels">
      <a class="dancecardlink" href="/dances?level={{dancelevel.id}}">
        <img src="/Media/Images/DanceLevels/{{dancelevel.imgName}}" width="100%" height="auto">
        <br />
        <div class="text-center">{{ dancelevel.name }}</div>
      </a>
    </div>

  </div>
</div>