<div class="container mx-lg-5 mx-1">
  <div class="row">
    <div class="col-lg-6 col-12">
      <h1>Клуб танцев</h1>
      <h4 style="color:#fff">Студии салонных танцев им. С. Болдырева</h4>
      <br>

      <div class="homecontainer">
        <p>
          Добро пожаловать, рады Вас видеть. Мы приглашаем всех желающих студентов Самарского университета на наши
          занятия, которые проходят каждый понедельник и четверг в Зеркальном зале.
          <br>По адресу: 3 корпус, Студия салонных танцев Самарского университета, г. Самара
        </p>

        <hr>
        <p>
          На этом сайте Вы можете ознакомиться со схемами танцев и движений, которые понадобятся вам при подготовке к
          городским балам, маскарадным вечерам и другим праздникам бального сообщества.
        </p>
      </div>
      <hr>
      <div *ngIf="info" class="homecontainer">
        <h4 style="color:#fff">Новости сайта</h4>
        <p>
          Сейчас на сайте <b>{{ info.cntDances }}</b> танцев и <b>{{ info.cntMoves }}</b> движений. </p>
        <p>
          Недавно добавили новый танец <a href="/dance/{{ info.lastDanceId }}">{{ info.lastDanceName }}</a>
          <br>
          и движение <a href="/move/{{ info.lastMoveName }}">{{ info.lastMoveName }}</a>
        </p>
      </div>
      <hr>
      <div class="row homecontainer d-flex align-items-center">
        <h5 class="col-lg-9 col-12 m-0 p-0" style="color:#fff">Скачайте мобильное приложение для Android</h5>
        <button class="btn btn-primary col-3 m-2 m-lg-0" (click)="downloadApk()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
          </svg>
          &nbsp;&nbsp;Скачать apk
        </button>
      </div>
    </div>
  </div>
</div>