/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body {
  background-image: url("/Media/Images/bg.jpg");
  background-color: #9e827e;
  background-repeat: no-repeat;
  background-size: 100%;
  xfont-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: Philosopher; 
  color: #ffffff;
}

h1.mainalign {
  margin-bottom: 0.6em;
}

h2,
h3,
h4,
h5,
h6 {
  color: #4a2a21;
}

a {
  color: #4a2a21;
}

a:hover,
a:active,
a:focus,
a:active:focus {
  color: #603a29;
}

.contentcontainer {
  background: #fbf7f3;
  padding-top: 1em;
  min-height: 80vh;
}

.homecontainer {
  background: #a18c8ca4;
  padding: 5px;
  border-radius: 5px;
}

.homecontainer a {
  color: #ffffff;
}

.mainalign {
  padding-right: calc(5% - 10px);
  padding-left: 5%;
  max-width: 1600px !important;
}

.row {
  margin: 0px;
}

/* кнопки */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #4a2a21;
}

.btn-primary {
  color: #fff;
  background-color: #603a29;
  border-color: #603a29;
  width: 147px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  color: #fff;
  background-color: #4a2a21;
  border-color: #4a2a21;
}

.btn-outline-primary {
  color: #fff;
  background-color: #603a29;
  border-color: #4a2a21;
}

.btn-outline-primary {
  --bs-btn-color: #603a29;
  --bs-btn-border-color: #4a2a21;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffffff00;
  --bs-btn-hover-border-color: #4a2a21;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4a2a21;
  --bs-btn-active-border-color: #4a2a21;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #4a2a21;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4a2a21;
  --bs-gradient: none;
}

.btn-check+.btn {
  color: #4a2a21;
  background-color: #f1e4dc;
  border: 1px solid #4a2a21;
}
.btn-check:hover+.btn,
.btn-check:checked+.btn {
  color: #fff;
  background-color: #4a2a21;
}

.submitFav {
  color: #fff;
  padding: 0px;
  border: 0px solid;
  background-color: #4a2a2100;
}

.submitFav:hover,
.submitFav:active,
.submitFav:focus,
.submitFav:active:focus {
  color: #4a2a21;
}

code {
  color: #e01a76;
}

pre {
  white-space: pre-wrap;
}

/* карточки тип/эпоха/сложность*/
.dancecard {
  display: inline-block;
  padding-top: 0;
  padding-left: 0;
  padding-right: 10px;
  padding-bottom: 12px;
}

a.dancecardlink {
  text-decoration: none;
}

a.dancecardlink img {
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0px -2px 8px -6px #4a2a219f;
}

a.dancecardlink div {
  background-color: #f1e4dc;
  color: #4a2a21;
  display: block;
  font-size: 14pt;
  padding: 5px 10px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 0px 4px 8px -6px #4a2a219f;
}

a.dancecardlink:hover div {
  background-color: #d2b49a;
  color: #4a2a21;
}

/* фильтр-панель*/
.filtercontainer {
  background-color: #f1e4dc;
  color: #000000;
  height: fit-content;
  font-size: 13pt;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
}

.form-range::-webkit-slider-thumb {
  background: #603a29;
}

.form-range::-webkit-slider-thumb:active {
  background: #603a29;
  cursor: default;
}

.form-range::-webkit-slider-runnable-track {
  color: transparent;
  cursor: pointer;
  background-color: #b69c85;
  border-color: transparent;
  border-radius: 1rem;
}

.form-range {
  width: 90%;
}

.dancesTable a,
.movesTable a {
  text-decoration: none;
}

.table>:not(caption)>*>*{
  background-color: #00000000;
}

td {
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: #f1e4dc;
}

tr:nth-child(odd) {
  background-color: #603a2930;
}

.tableText {
  margin-bottom: 0px;
  font-size: 16px;
  color: #603a29
}

.danceScheme,
.danceHistory,
.moveDescription {
  display: block;
  background-color: #fbf7f3;
  color: #000000;
}

.danceTitle {
  font-weight: 500;
  color: #603a29;
  font-size: 22pt;
}

.danceContent {
  width: 48%;
  display: inline-block;
}

.danceContent h2 {
  color: #603a29;
  font-size: 18pt;
}

.danceMedia {
  width: 48%;
  color: #303030;
  float: right;
  display: inline-block;
}

.player {
  margin-top: 10px;
  width: 45vw;
  min-width: 300px;
  height: 50vh;
  min-height: 150px;
  background: black;
}

.vjs-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fieldHdr {
  font-weight: bold;
  color: black;
}

audio::-webkit-media-controls-panel {
  background-color: #fbf7f3;
}

/* Для малых экранов */
@media screen and (max-width: 767px) {
  a.dancecardlink div {
    height: 65px;
    word-break: break-word
  }

  body {
    background-size: auto;
  }

  .row .dancesTable,
  .row .movesTable {
    --bs-gutter-x: auto;
  }

  .danceContent {
    width: 98%;
    display: inline-block;
  }

  .danceMedia {
    width: 98%;
    color: #303030;
    float: right;
    display: inline-block;
  }

  .player {
    margin-top: 10px;
    height: auto;
    background: black;
  }

}

.videoButtonGroup {
  background-color: #4a2a21;
  border-radius: 5px;
  width: 45vw;
  min-width: 300px;
}

.vidbtn {
  color: #4a2a21;
  background-color: #f1e4dc;
  border: 1px solid #4a2a21;
  border-radius: 5px;
}