<h1>Хореографическая книжка</h1>
<h2>О нас</h2>

<p>Клуб танцев</p>

<p>
  <button type="button" class="btn btn-primary"
    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Simple demo
  </button>

</p>

<div class="btn-group" dropdown>
  <button id="button-basic" 
  dropdownToggle type="button" 
  class="btn btn-success dropdown-toggle"
  aria-controls="dropdown-basic"> 
    Dropdown button
  </button>
  <ul id="dropdown-basic" 
      *dropdownMenu class="dropdown-menu" 
      role="menu" aria-labelledby="button-basic"> 
      <li role="menuitem"> 
        <a class="dropdown-item">gfg1</a> 
    </li> 
    <li role="menuitem"> 
        <a class="dropdown-item">geeks1</a> 
    </li> 
    <li role="menuitem"> 
        <a class="dropdown-item">GeeksforGeeks1</a> 
    </li> 
  </ul>
</div>

<div class="btn-group" dropdown> 
  <button id="button-basic" 
      dropdownToggle type="button" 
      class="btn btn-danger dropdown-toggle"
      aria-controls="dropdown-basic"> 
      Dropdown 2 
  </button> 
    
  <ul id="dropdown-basic" 
      *dropdownMenu class="dropdown-menu" 
      role="menu" aria-labelledby="button-basic"> 
      <li role="menuitem"> 
          <a class="dropdown-item">gfg1</a> 
      </li> 
      <li role="menuitem"> 
          <a class="dropdown-item">geeks1</a> 
      </li> 
      <li role="menuitem"> 
          <a class="dropdown-item">GeeksforGeeks1</a> 
      </li> 
  </ul> 
</div> 