
<div class="container"><div class="row"><div class="col-6">
  <h1>Клуб танцев</h1>
  <h4>Студии салонных танцев им. С. Болдырева</h4>
  <br>
  
  <p>
Добро пожаловать рады вас видеть. 
Приходите к нам на занятия. Там можно потанцевать и потрогать женщин(настоящих) за руки.
</p>
<p>
Тут еще можно написать сколько у нас всего танцев в нашей бд, для любого уровня сложности, 
по таким то векам/эпохам(барокко, модерн к примеру), основная инфа че вообще за танцы такие 
и ссылки для перехода на другие страницы(описаны ниже).
</p>

<p>
  Еще можно фотки разные и информацию о разрабах – но лучше на отдельной странице.
</p>

<p>
  Может быть будет раздел новостей – дата, опубликовали схему такого то танца (ссылка), добавили 5 мелодий для венского вальса. 
</p>
</div></div></div>