<div class="container mx-5">
  <div class="row">
    <div class="col-6">
      <h1>Клуб танцев</h1>
      <h4>Студии салонных танцев им. С. Болдырева</h4>
      <br>

      <p>
        Добро пожаловать, рады Вас видеть. Мы приглашаем всех желающих студентов Самарского университета на наши
        занятия, которые проходят каждый понедельник и четверг в Зеркальном зале.
        <br>По адресу: 3 корпус, Студия салонных танцев Самарского университета, Самара
      </p>

      <hr>
      <p>
        На этом сайте Вы можете ознакомиться со схемами танцев и движений, которые понадобятся вам при подготовке к
        городским балам, маскарадным вечерам и другим праздникам бального сообщества.
      </p>

      <hr>
      <h4>Новости сайта</h4>
      <p>
        Сейчас на сайте <b>{{ cntDances }}</b> танцев и <b>{{ cntMoves }}</b> движений. </p>
      <p>
        Недавно добавили новый танец <a href="/dance/{{ dances[cntDances-1].id }}">{{ dances[cntDances-1].name }}</a> <br>
        и движение <a href="/move/{{ moves[cntMoves-1].name }}">{{ moves[cntMoves-1].name }}</a>
      </p>
    </div>
  </div>
</div>