<h1 *ngIf="! dance" id="tableLabel" class="mainalign">Танец</h1>
<h1 *ngIf="dance" id="tableLabel" class="mainalign">{{ dance.name }} ({{ dance.id }})</h1>

<p *ngIf="! dance">
  <em>Загрузка ...</em>
</p>

<div class="contentcontainer mainalign" *ngIf="dance">

  <div class="danceContent">
   <div class="danceTitle">Схема танца</div>
    <div class="danceScheme" [innerHTML]="danceScheme"></div>

    <br>
    <div class="danceTitle">История и факты</div>
    <markdown class="danceHistory" [data]="dance.history" />
  
  </div>

  <div class="danceMedia">
    <video id="player" playsinline controls poster="/Media/Images/mainbg.jpg">
      <source src="/Media/Video/Australian swing waltz.mp4" type="video/mp4" />
    </video>
  
    <br>
    <br>
    <div class="danceTitle">Видео</div>
    <div *ngFor="let video of dance.videos">
      (>) <a href="{{ video.url }}">{{ video.name }}</a> &nbsp; 2:44
    </div>

    <br>
    <div class="danceTitle">Музыка</div>
    <div *ngFor="let music of dance.music">
      (>) <a href="{{ music.url }}">{{ music.name }}</a> &nbsp; 2:44
    </div>
  </div>

</div>

