<h1 id="tableLabel">Каталог танцев</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!dancetypes?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="dancetypes.length">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dancetype of dancetypes">
      <td>{{ dancetype.id }}</td>
      <td><a href="/dance/{{ dancetype.id }}">{{ dancetype.name }}</a></td>
      <td><img src = "/Media/Images/DanceTypes/{{ dancetype.id }}.jpg" width="100" height="50"></td>
    </tr>
  </tbody>
</table>
