<h1 id="tableLabel" class="mainalign">Выбор танцев</h1>

<p *ngIf="!dances?.length" class="mainalign"><em>Loading...</em></p>

<div class="row contentcontainer mainalign">

  <div id="dancesFilter" class="filtercontainer col-lg-3 col-sm-6 mb-2">
    <form [formGroup]="form">

      <div class="my-1">
        <label for="filterType" class="form-label mb-1">Направления</label>
        <select class="form-control form-select mb-1" formControlName="filterType" id="filterType">
          <option></option>
          <option *ngFor="let type of types" [ngValue]="type.id">{{ type.name }}</option>
        </select>
      </div>

      <div class="my-1">
        <label for="filterEpoch" class="form-label mb-1">Эпохи</label>
        <select class="form-control form-select mb-1" formControlName="filterEpoch" id="filterEpoch">
          <option></option>
          <option *ngFor="let epoch of epochs" [ngValue]="epoch.id">{{ epoch.name }}</option>
        </select>
      </div>

      <div class="my-1">
        <label for="filterLevel" class="form-label mb-1">Сложность</label>
        <select class="form-control form-select mb-1" formControlName="filterLevel" id="filterLevel">
          <option></option>
          <option *ngFor="let level of levels" [ngValue]="level.id">{{ level.name }}</option>
        </select>
      </div>

      <div class="my-4">
        <div class="col-12">
          <div class="PartnerExchButton">
            <label class="form-check-label col-8 mb-2" for="PartnerExchButton">Со сменой партнера</label>
            <div class="btn-group" role="group">
              <input type="checkbox" class="btn-check" autocomplete="off" formControlName="filterPartnerExchYes"
                id="filterPartnerExchYes">
              <label class="btn btn-outline-primary" for="filterPartnerExchYes">Да</label>

              <input type="checkbox" class="btn-check" autocomplete="off" formControlName="filterPartnerExchNo"
                id="filterPartnerExchNo">
              <label class="btn btn-outline-primary" for="filterPartnerExchNo">Нет</label>

            </div>
          </div>

        </div>
      </div>

      <div class="row my-1">
        <div class="d-flex justify-content-between">
          <label for="filterCountOfPartners">Количество пар</label>
          <div class="col-3"><input class="form-control" type="number" min="1" max="6" id="filterCountOfPartners"
              formControlName="filterCountOfPartners">
          </div>
        </div>
        <input type="range" class="form-range mt-1 ms-3" min="0" max="6" step="1" id="filterCountOfPartnersR"
          formControlName="filterCountOfPartnersR">
      </div>

      <br />
      <button type="submit" class="btn btn-primary mb-2 col-6" id="submitFilters" (click)="onSubmitFilter()">&nbsp;
        Найти
        &nbsp;</button>
      &nbsp;
      <button type="reset" class="btn btn-primary mb-2 col-6" id="resetFilters"
        (click)="onClearFilter()">Сбросить</button>

    </form>
  </div>


  <div id="dancesTable" *ngIf="dances.length" class="dancesTable col-lg-9 col-sm-6">

    <table class='table table-striped' aria-labelledby="tableLabel">
      <tbody>
        <tr *ngFor="let dance of dances">
          <td><a href="/dance/{{ dance.id }}">{{ dance.name }}</a>
            <p class="tableText">Направление: {{dance.type.name}} &nbsp;&nbsp; Эпоха: {{dance.epoch.name}}
              &nbsp;&nbsp; Сложность: {{dance.level.name}}</p>
          </td>
        </tr>
      </tbody>
    </table>

  </div>