<h1 id="tableLabel">Выбранный тип из направления-периода-сложности</h1>

<p>Каталог танцев.</p>

<p *ngIf="!dances?.length"><em>Loading...</em></p>

<div *ngIf="dances.length">

  <div class="filtercontainer col-3">
    <div class="row my-1">
      <div class="col-12">
        <label for="filtertypes" class="form-label mb-1">Направления</label>
        <select id="filtertypes" class="form-select mb-1" aria-label="Default select example">
          <option *ngFor="let type of types" value="{{ type.id }}">{{ type.name }}</option>
        </select>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-12">
        <label for="filterepochs" class="form-label mb-1">Эпохи</label>
        <select id="filterepochs" class="form-select mb-1" aria-label="Default select example">
          <option *ngFor="let epoch of epochs" value="{{ epoch.id }}">{{ epoch.name }}</option>
        </select>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-12">
        <label for="filterlevels" class="form-label mb-1">Сложность</label>
        <select id="filterlevels" class="form-select mb-1" aria-label="Default select example">
          <option *ngFor="let level of levels" value="{{ level.id }}">{{ level.name }}</option>
        </select>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-12">
        <input class="form-check-input me-1" type="checkbox" value="" id="filterchangepartner">
        <label class="form-check-label" for="filterchangepartner">Со сменой партнера</label>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-12">
        <div class="d-flex justify-content-between"><label>Количество пар</label>
          <div class="col-3"><input class="form-control" type="number" name="countofpairs" min="1" max="6" value=""></div>
        </div>
        <input type="range" class="form-range" min="1" max="6" step="1" id="filtercountofpartners">
      </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2" id="submitfilters">Применить фильтры</button>

    <button type="reset" class="btn btn-primary mb-2" id="resetfilters">Очистить фильтры</button>

  </div>

  <br />

  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dance of dances">
        <td>{{ dance.id }}</td>
        <td><a href="/dance/{{ dance.id }}">{{ dance.name }}</a></td>
      </tr>
    </tbody>
  </table>

</div>