<h1 id="tableLabel">Выбор танцев</h1>
<br>

<p *ngIf="!dances?.length"><em>Loading...</em></p>


<div class="row">

  <div id="dancesFilter" class="filtercontainer col-3">
    <form [formGroup]="form"> 

    <div class="my-1">
        <label for="sel_filterType" class="form-label mb-1">Направления</label>
        <select class="form-control form-select mb-1" 
          formControlName="filterType" id="filterType" >
          <option [ngValue]="undefined"></option>
          <option *ngFor="let type of types" [ngValue]="type.id" >{{ type.name }}</option>
        </select>
    </div>

    <div class="my-1">
        <label for="filterEpoch" class="form-label mb-1">Эпохи</label>
        <select class="form-control form-select mb-1" 
          formControlName="filterEpoch" id="filterEpoch" >
          <option value="undefined"></option>
          <option *ngFor="let epoch of epochs" [ngValue]="epoch.id">{{ epoch.name }}</option>
        </select>
    </div>

    <div class="my-1">
        <label for="filterLevel" class="form-label mb-1">Сложность</label>
        <select class="form-control form-select mb-1" 
          formControlName="filterLevel" id="filterLevel" >
          <option value="undefined"></option>
          <option *ngFor="let level of levels" [ngValue]="level.id">{{ level.name }}</option>
        </select>
    </div>

    <div class="my-1">
      <div class="col-12">
        <br>
        <input type="checkbox" class="form-check-input me-1" 
        formControlName="filterPartnerExch" id="filterPartnerExch" 
        value="" >
        <label class="form-check-label" for="filterPartnerExch">Со сменой партнера</label>
      </div>
    </div>

    <br/>
    <div class="row my-1">
        <div class="d-flex justify-content-between">
          <label>Количество пар</label>
          <div class="col-3"><input class="form-control" type="number" name="countofpairs" min="1" max="6" value="">
          </div>
        </div>
        <input type="range" class="form-range mt-1 ms-3" min="1" max="6" step="1" id="filtercountofpartners">
    </div>

    <br/>
    <button type="submit" class="btn btn-primary mb-2" id="submitFilters" (click)="onSubmitFilter()">&nbsp; Найти &nbsp;</button>
    &nbsp;
    <button type="reset" class="btn btn-primary mb-2" id="resetFilters" (click)="onClearFilter()">Сбросить</button>
  
  </form>
  </div>


  <div id="dancesTable" *ngIf="dances.length" class="col-9">

    <table class='table table-striped' aria-labelledby="tableLabel">
      <tbody>
        <tr *ngFor="let dance of dances">
          <td>{{ dance.id }}</td>
          <td><a href="/dance/{{ dance.id }}">{{ dance.name }}</a></td>
        </tr>
      </tbody>
    </table>

  </div>
