<h1 *ngIf="! move" id="tableLabel" class="mainalign">Движение</h1>
<h1 *ngIf="move" id="tableLabel" class="mainalign">{{ move.name }} ({{ move.id }})</h1>

<p *ngIf="! move">
  <em>Загрузка ...</em>
</p>

<div class="contentcontainer mainalign" *ngIf="move">
  <!--сюда вставить блок плеера -->
  <video id="player" playsinline controls>
    <source src="/Media/Video/Australian swing waltz.mp4" type="video/mp4" />
  </video>

  <markdown class="moveDescription" [data]="move.description" />
  <br><br>

  <strong>video:</strong>
  <div *ngFor="let video of move.videos">
    <a href="{{ video.url }}">{{ video.name }}</a>
  </div>

</div>