<h1 *ngIf="! move" id="tableLabel">Движение</h1>
<h1 *ngIf="move" id="tableLabel">{{ move.name }} ({{ move.id }})</h1>


<p *ngIf="! move">
  <em>Загрузка ...</em>
</p>


<!--сюда вставить блок плеера -->
<video id="player" playsinline controls>
  <source src="/Media/Video/Australian swing waltz.mp4" type="video/mp4" />
</video>

<div *ngIf="move">

  <markdown class="moveDescription" [data]="move.description" />
  <br><br>

  <strong>video:</strong>
  <div *ngFor="let video of move.videos">
    <a href="{{ video.url }}">{{ video.name }}</a>
  </div>

</div>