a.navbar-brand {
	white-space: normal;
	text-align: center;
	xx-word-break: break-all;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.box-shadow {
	box-shadow: 0 .25rem .75rem #cebebe71;
	background-color: #ffffff30;
}

.search-hover {
	margin-top: 9px;
	border: 0px solid #ffffff;
	outline: none;
	background-color: #ffffff00;
	background-size: 25px;
	background-position: 0px;
	background-image: url("/Media/Images/search.png");
	background-repeat: no-repeat;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	padding: 12px;
	transition: all 0.5s;
}

.search-hover:hover {
	width: 300px;
	padding-left: 35px;
	border: 1px solid #ffffff;
	background-color: white;
	color: black;
}

input::placeholder {
	opacity: 0.7;
	color: #909090;
  }

