<h1 id="tableLabel" class="mainalign">Список движений</h1>

<p *ngIf="!moves?.length" class="mainalign"><em>Loading...</em></p>

<div class="row contentcontainer mainalign">

  <div id="movesTable" *ngIf="moves.length" class="movesTable">

    <a href="/admin/move/new">Добавить</a>
    <br><br>

    <table class='table table-striped' aria-labelledby="tableLabel">
      <tbody>
        <tr *ngFor="let move of moves">
          <td>{{ move.id }}</td>
          <td><a href="/admin/move/{{ move.name }}">{{ move.name }}</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>