<h1 id="tableLabel" class="mainalign">Список танцев</h1>

<p *ngIf="!dances?.length" class="mainalign"><em>Loading...</em></p>

<div class="row contentcontainer mainalign">

  <div id="dancesTable" *ngIf="dances.length" class="dancesTable">

    <a href="/admin/dance/0">Добавить</a>
    <br><br>

    <table class='table table-striped' aria-labelledby="tableLabel">
      <tbody>
        <tr *ngFor="let dance of dances">
          <td>{{ dance.id }}</td>
          <td><a href="/admin/dance/{{ dance.id }}">{{ dance.name }}</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>