<h1 *ngIf="! dance" id="tableLabel" class="mainalign">Танец</h1>

<div class="d-flex">
  <h1 *ngIf="dance" id="tableLabel" class="mainalign">{{ dance.name }}

    <button *ngIf="! inFav" (click)="onAddToFav(dance)" class="submitFav">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="30" height="30" viewBox="0 0 16 16"
        class="bi bi-heart">
        <path
          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
      </svg>
    </button>

    <button *ngIf="inFav" (click)="onRemoveFromFav(dance)" class="submitFav">
      <img src="/Media/Images/heartNo.png" onmouseover="this.src='/Media/Images/heartYes.png';"
        onmouseout="this.src='/Media/Images/heartNo.png';">
    </button>

  </h1>
</div>

<p *ngIf="dance" id="tableLabel" class="mainalign">{{ danceEpoch }}&nbsp;&nbsp;&nbsp;&nbsp;Сложность: {{ danceLevel }}
</p>

<p *ngIf="! dance">
  <em>Загрузка ...</em>
</p>

<div class="contentcontainer mainalign" >

  <div class="danceMedia" *ngIf="dance">

    <!-- демо плеер для отладки 
    <video id="player1" class="video-js vjs-default-skin player" controls preload="auto">
      <source src="/Media/Video/Australian swing waltz.mp4" type="video/mp4">
    </video> -->

    <!-- основной видео плеер-->
    <video id="player1" class="video-js vjs-default-skin player" controls 
      preload="auto"
      data-setup='{ "techOrder": ["youtube"] }'>
      <source src="{{ dance.videos[0].url }}" type="video/youtube" />
    </video> 

    <div class="videoButtonGroup mt-2 p-2 d-flex justify-content-between">

      <div style="color: #FFF;">
        <button class="btn btn-outline-primary vidbtn" id="round" (click)="stopRound()">Повтор</button>
        {{ seqFrom }} {{ seqTo }}
      </div>

      <div class="btn-group" role="group" aria-label="Playback Rate">
        <input type="radio" class="btn-check" autocomplete="off" id="playbackRate0.5" 
               (click)="setPlaybackRate(0.5)" name="grp1"/>
        <label class="btn btn-outline-primary" for="playbackRate0.5">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rewind-fill" viewBox="0 1 16 16">
            <path d="M8.404 7.304a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696z" />
            <path d="M.404 7.304a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696z" />
          </svg> 0.5
        </label>
      
        <input type="radio" class="btn-check" autocomplete="off" id="playbackRate1" 
               (click)="setPlaybackRate(1)" name="grp1"/>
        <label class="btn btn-outline-primary" for="playbackRate1">1:1</label>
      
        <input type="radio" class="btn-check" autocomplete="off" id="playbackRate2" 
               (click)="setPlaybackRate(2)" name="grp1"/>
        <label class="btn btn-outline-primary" for="playbackRate2">2
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fast-forward-fill" viewBox="0 1 16 16">
            <path d="M7.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C.713 12.69 0 12.345 0 11.692V4.308c0-.653.713-.998 1.233-.696z" />
            <path d="M15.596 7.304a.802.802 0 0 1 0 1.392l-6.363 3.692C8.713 12.69 8 12.345 8 11.692V4.308c0-.653.713-.998 1.233-.696z" />
          </svg>
        </label>
      </div>
    </div>


    <br>
    <div class="danceTitle mb-1">Видео</div>

    <div *ngFor="let video of dance.videos">
      <a href="{{ video.url }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
          class="bi bi-play-circle mx-2 mb-2" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
        </svg>{{ video.name }}</a> &nbsp;
    </div>

    <br>
    <div class="danceTitle mb-1" *ngIf="dance.music.length > 0">Музыка</div>
    <div *ngFor="let music of dance.music">
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ music.url }}">{{ music.name }}</a>
      <br>
      <audio controls src="/Media/Music/ABBA_-_Dancing_Queen.mp3">
        Your browser does not support the
        <code>audio</code> element.
      </audio>
    </div>
  </div>

  <div class="danceContent">
    <div class="danceTitle">Схема танца</div>

    <!-- 
      <button class="vidbtn vid" (click)="playFromToFormat('01:11', '01:16')" >(>) DEMO</button>
    -->

    <div class="danceScheme" #scheme id="danceScheme" [innerHTML]="danceScheme | safeHtml"></div>

    <br>
    <div class="danceTitle">История и факты</div>
    <markdown class="danceHistory" [data]="dance.history" *ngIf="dance"/>
  </div>
</div>